.head {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 24px;
    text-align: center;
    align-self: center;
    position: fixed;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#title {
    align-self: center;
    color: rgb(44, 44, 44);
}

#welcome {
    font-size: 18px;
    margin-top: -8px;
    color: rgb(44, 44, 44);
}

#simbolorezende {
    height: 15px;
    width: 15px;
    background-color: transparent;
}